<header class="navbar mapui__navbar<%- category %>">
  <section class="navbar-section">
    <a href="/"  class="tooltip tooltip-right" data-tooltip="Map Portal Homepage"><%- config.title %></a>
  </section>
  <section class="navbar-center">
    <a href="<%- config.ownerUrl %>" class="tooltip tooltip-bottom" data-tooltip="<%- config.title %>">
      <img class="mapui__logo" src="/<%- config.logo %>" alt="logo">
      </a>
    </a>
  </section>
  <section class="navbar-section">
    <a href="/about/" class="tooltip tooltip-bottom" data-tooltip="About the COZ Map Portal">About</a>&nbsp;|&nbsp;
    <a href="http://www.coz.org/maps/" class="tooltip tooltip-bottom" data-tooltip="COZ Maps Homepage">City of Zanesville Maps</a>&nbsp;|&nbsp;
    <a href="#modal-contact" class="tooltip tooltip-bottom" data-tooltip="Contact">Contact</a>
  </section>
</header>