<div class="column col-xs-12 col-sm-6 col-lg-4 col-xl-4">
  <div class="card">
    <div class="card-image">
      <a href="<%- post.slug %>"><img src="<%- post.img %>" class="img-responsive"></a>
    </div>
    <div class="card-header">
      <div class="card-title h5"><%- post.title %></div>
      <div class="card-subtitle text-gray"><%- post.subtitle %></div>
    </div>
    <div class="card-body">
    </div>
    <div class="card-footer">
      <a href="<%- post.permalink %>"><button class="btn ">Launch</button></a>
      <a href="#<%- post.slug %>" class="float-right"><button class="btn ">About</button></a>
    </div>
  </div>
</div>